.luxbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: var(--luxbar-shadow);
}

.luxbar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: var(--luxbar-height);
}

.luxbar-brand {
    font-size: 1.6rem;
    padding: var(--luxbar-padding);
}

.luxbar-menu {
    min-height: var(--luxbar-height);
    transition: var(--luxbar-transition);
    width: 100%;

    .luxbar-hamburger {
        margin-left: auto;
    }
}

.luxbar-navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.luxbar-menu a,
.luxbar-navigation li a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.luxbar-navigation li {
    height: var(--luxbar-height);

    a {
        padding: var(--luxbar-padding);
        display: block;
    }
}

.luxbar-hamburger {
    padding: var(--luxbar-padding);
    position: relative;
    cursor: pointer;

    span {
        display: block;
        height: var(--luxbar-hamburger-line-height);
        width: var(--luxbar-hamburger-width);
        transition: var(--luxbar-transition);

        &::before,
        &::after {
            display: block;
            height: var(--luxbar-hamburger-line-height);
            width: var(--luxbar-hamburger-width);
            transition: var(--luxbar-transition);
            content: '';
            position: absolute;
        }

        &::before {
            margin-top: -8px;
        }

        &::after {
            margin-top: 8px;
        }
    }
}

#luxbar-checkbox {
    display: none;

    &:not(:checked) ~ .luxbar-menu {
        overflow: hidden;
        height: var(--luxbar-height);
    }

    &:checked ~ .luxbar-menu {
        transition: height var(--luxbar-transition);
        height: 100vh;
        overflow: auto;

        li {
            .luxbar-hamburger span {
                background-color: transparent;

                &::before,
                &::after {
                    margin-top: 0;
                }
            }
        }
    }
}

.luxbar-dropdown {
    position: relative;
    height: auto;
    min-height: var(--luxbar-height);

    &:hover > ul {
        position: relative;
        display: block;
    }

    > a::after {
        position: absolute;
        content: '';
        right: 0.625rem;
        top: calc(var(--luxbar-height) / 2 - var(--luxbar-expand-arrow-height) + 0.063rem);
        border-width: var(--luxbar-expand-arrow-height) var(--luxbar-expand-arrow-height) 0;
        border-color: transparent;
        border-style: solid;
    }

    > ul {
        display: block;
        list-style: none;
        padding: 0;

        li {
            padding: 0 0.625rem 0 var(--luxbar-height);
        }
    }
}
