@media screen and (width > 768px) {
    .luxbar-navigation {
        flex-flow: row;
        justify-content: flex-end;

        & li {
            border-top: 0;
        }
    }

    .luxbar-hamburger {
        display: none;
    }

    #luxbar-checkbox {
        &:not(:checked) ~ .luxbar-menu {
            overflow: visible;
        }

        &:checked ~ .luxbar-menu {
            height: var(--luxbar-height);
        }
    }

    .luxbar-menu .luxbar-header {
        margin-right: auto;
    }

    .luxbar-dropdown {
        height: var(--luxbar-height);

        > ul {
            display: none;

            & li {
                padding: 0 0.625rem;

                & a {
                    white-space: nowrap;
                }
            }
        }

        &:hover > ul {
            position: absolute;
            left: 0;
            top: var(--luxbar-height);
            padding: 0;
        }
    }
}
