$luxbar-height: 3.625rem !default;
$luxbar-breakpoint: 48rem !default;
$luxbar-padding: 1.125rem 1.5rem 1.125rem 1.5rem !default;
$luxbar-transition: .6s ease !default;
$hamburger-line-height: 0.125rem !default;
$hamburger-width: 1.625rem !default;
$luxbar-shadow: 0 0.063rem 0.188rem rgba(#000, .12), 0 0.063rem 0.125rem rgba(#000, .24) !default;
$luxbar-css-prefix: 'luxbar' !default;
