@import 'global-variables';

// ******* color variables *******
:root {
    --luxbar-color-bg: #3e63ad;
    --luxbar-color-hl: #2d477d;
    --luxbar-color-fg: #fff;
}

.#{$luxbar-css-prefix}-menu,
.#{$luxbar-css-prefix}-menu .#{$luxbar-css-prefix}-dropdown ul {
    background-color: var(--luxbar-color-bg);
    color: var(--luxbar-color-fg);
}

.#{$luxbar-css-prefix}-menu {
    .active,
    li:hover {
        background-color: var(--luxbar-color-hl);
    }

    .#{$luxbar-css-prefix}-hamburger {
        span,
        span::before,
        span::after {
            background-color: var(--luxbar-color-fg);
        }
    }
}
